:root {
  --slidev-theme-primary: #D2FF96;
  --color-primary: #FCF7FF;
  --color-secondary: #D2FF96;
  --color-accent: #FBAF00;
  --color-muted: #e5dfe8
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

  
.slidev-layout {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(180deg, #7832ff 0%, rgba(72,0,174,1) 100%); /* Example gradient */
  color: white; /* For contrast with the gradient */
}

p {
  color: var(--color-muted);
}

h1 {
  color: var(--color-primary);
  font-weight: 600;
}

h2 {
  @apply mt-4;
  color: var(--color-primar);
  font-weight: 600;
  font-size: 23px;
}

h3 {
  @apply mt-4;
  color: var(--color-primar);
  font-size: 20px;
}

ul {
  list-style-position: inside !important; 
}

ol {
  list-style-position: inside !important; 
}

li {
  margin-left: 20px !important; 
}

